### Importing Necessary Libraries

In [220]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import timedelta, datetime

### Uploading Data Frames

In [221]:
path_1 = "/Users/rafalkolakowski/Desktop/Data Analyst/portfolio/ab testing/interactions.csv"
interactions = pd.read_csv(path_1)
path_2 = "/Users/rafalkolakowski/Desktop/Data Analyst/portfolio/ab testing/users.csv"
users = pd.read_csv(path_2)
path_3 = "/Users/rafalkolakowski/Desktop/Data Analyst/portfolio/ab testing/products.csv"
products = pd.read_csv(path_3)

### Data Wrangling - Checking data types, null values, duplicated values

In [222]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            60000 non-null  int64
 1   age                60000 non-null  int64
 2   gender             59941 non-null  object
 3   country            60000 non-null  object
 4   account_created    60000 non-null  object
 5   device_type        60000 non-null  object
 6   marketing_channel  59909 non-null  object
 7   user_group         60000 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.7+ MB

In [223]:
users.isnull().sum()

user_id               0
age                   0
gender               59
country               0
account_created       0
device_type           0
marketing_channel    91
user_group            0
dtype: int64

In [224]:
users["marketing_channel"].value_counts()

marketing_channel
Email           14974
Social Media    14909
Ads             14873
Referral        14844
email              85
social_media       80
ads                79
referral           65
Name: count, dtype: int64

In [225]:
users["marketing_channel"] = users["marketing_channel"].map(
    {"email": "Email",
     "social_media": "Social Media",
     "ads": "Ads",
     "referral": "Referral",
     "Social Media": "Social Media",
     "Ads": "Ads",
     "Email": "Email",
     "Referral": "Referral"})

In [226]:
users["marketing_channel"].fillna("Email", inplace=True)

/var/folders/h0/4jpjr28x5yj6tn2nqwlp8cn40000gn/T/ipykernel_55756/3914189977.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  users["marketing_channel"].fillna("Email", inplace=True)

In [227]:
users["gender"].value_counts()

gender
Male      35970
Female    23730
mal          68
F            58
M            58
fem          57
Name: count, dtype: int64

In [228]:
users["gender"] = users["gender"].map(
    {"Female": "Female",
     "fem": "Female",
     "F": "Female",
     "Male": "Male",
     "mal": "Male",
     "M": "Male"})

In [229]:
users["gender"].value_counts()

gender
Male      36096
Female    23845
Name: count, dtype: int64

In [230]:
users["gender"].isna().sum()

59

In [231]:
users.duplicated().sum()

0

In [232]:
users.dtypes

user_id               int64
age                   int64
gender               object
country              object
account_created      object
device_type          object
marketing_channel    object
user_group           object
dtype: object

In [233]:
users["is_adult"] = users["age"] >= 18

In [234]:
users = users[users["age"] >= 18]

In [235]:
users["country"].value_counts()

country
Es    8596
Us    8551
Uk    8536
It    8502
De    8486
Fr    8463
Pl    8433
 E      78
 F      77
uK      74
PL      69
de      68
us      66
Name: count, dtype: int64

In [236]:
users["country"].replace({"F": "Fr", "E": "Es"}, inplace=True)

/var/folders/h0/4jpjr28x5yj6tn2nqwlp8cn40000gn/T/ipykernel_55756/3112106580.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  users["country"].replace({"F": "Fr", "E": "Es"}, inplace=True)

In [237]:
users["country"].value_counts()

country
Es    8596
Us    8551
Uk    8536
It    8502
De    8486
Fr    8463
Pl    8433
 E      78
 F      77
uK      74
PL      69
de      68
us      66
Name: count, dtype: int64

In [238]:
users["account_created"] = pd.to_datetime(users["account_created"], errors="coerce")

In [239]:
users["device_type"].value_counts()

device_type
mobile     35803
desktop    18239
tablet      5957
Name: count, dtype: int64

In [240]:
users["user_group"].value_counts()

user_group
control    30000
test       29999
Name: count, dtype: int64

In [241]:
users["gender"].isnull().sum()

59

In [242]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1000 non-null   int64
 1   category        1000 non-null   object
 2   price           1000 non-null   float64
 3   rating          999 non-null    float64
 4   stock_quantity  1000 non-null   int64
 5   launch_date     1000 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 47.0+ KB

In [243]:
products["launch_date"] = pd.to_datetime(products["launch_date"], errors="coerce")

In [244]:
interactions.head(50)

,interaction_id,user_id,product_id,session_id,timestamp_click,recommended,clicked,purchased,device_used,match_score,time_on_page_sec,timestamp_purchase,user_group
0,1,56423,847,session_single_56423,2024-05-15 00:35:39,True,True,False,tablet,44,122.625471,NaN,control
1,2,15796,564,session_single_15796,2024-01-31 23:54:19,False,True,False,desktop,51,113.145827,NaN,control
2,3,861,907,session_75080,2024-05-20 07:14:28,False,True,False,desktop,60,175.284554,NaN,test
3,4,38159,853,session_69069,2024-04-03 16:45:11,True,True,False,mobile,84,95.958430,NaN,test
4,5,54344,775,session_single_54344,2024-01-12 20:12:07,False,True,False,mobile,34,115.837189,NaN,test
5,6,44733,119,session_single_44733,2024-04-20 21:40:27,False,True,True,mobile,24,182.677071,2024-04-20 21:42:21,test
6,7,11285,578,session_74581,2024-02-10 23:12:43,False,True,True,tablet,36,158.054664,2024-02-10 23:18:05,control
7,8,54887,267,session_42616,2024-04-09 20:58:17,True,False,False,desktop,94,180.045422,NaN,test
8,9,6266,280,session_43528,2024-02-09 20:47:00,True,False,True,tablet,28,146.650538,2024-02-09 20:48:58,control
9,10,16851,346,session_single_16851,2024-04-08 05:34:21,True,False,False,mobile,51,159.319883,NaN,control
10,11,37195,200,session_single_37195,2024-04-26 03:48:27,True,True,False,mobile,91,113.479182,NaN,test
11,12,21963,610,session_single_21963,2024-04-22 09:47:34,True,True,False,mobile,46,169.053627,NaN,test
12,13,47192,143,session_single_47192,2024-04-06 04:47:24,True,True,False,mobile,20,145.076505,NaN,control
13,14,44132,677,session_single_44132,2024-04-01 04:03:13,True,True,False,desktop,98,137.851795,NaN,test
14,15,16024,417,session_single_16024,2024-01-23 08:21:29,False,True,False,desktop,86,227.738862,NaN,control
15,16,41091,676,session_10744,2024-01-12 19:13:14,True,False,False,mobile,76,90.847863,NaN,test
16,17,1686,580,session_single_1686,2024-02-05 08:13:01,True,False,False,mobile,4,124.463413,NaN,control
17,18,770,912,session_single_770,2024-01-02 17:56:14,True,True,False,mobile,47,-5.296508,NaN,test
18,19,59736,197,session_20139,2024-04-04 19:56:45,False,True,False,desktop,63,131.842140,NaN,test
19,20,56102,706,session_single_56102,2024-06-18 14:34:29,False,True,False,desktop,78,97.879883,NaN,control
20,21,2434,958,session_single_2434,2024-04-23 06:50:43,True,True,False,tablet,40,123.711656,NaN,control
21,22,5312,921,session_91269,2024-05-19 05:48:31,True,True,False,mobile,35,153.458884,NaN,test
22,23,37820,993,session_single_37820,2024-03-22 06:22:51,True,True,True,desktop,55,133.363767,2024-03-22 06:25:41,test
23,24,39189,492,session_82519,2024-03-30 05:26:19,True,True,False,mobile,14,20.538618,NaN,test
24,25,17569,315,session_single_17569,2024-04-19 17:43:40,True,True,False,desktop,20,74.322121,NaN,control
25,26,53708,733,session_single_53708,2024-04-11 22:00:17,False,False,False,mobile,17,67.698334,NaN,test
26,27,19770,734,session_single_19770,2024-05-28 11:41:07,True,True,False,desktop,18,95.352477,NaN,control
27,28,28694,130,session_11723,2024-01-06 17:39:37,True,True,False,desktop,94,95.418311,NaN,test
28,29,6397,686,session_single_6397,2024-03-28 23:43:58,True,True,False,tablet,98,65.778725,NaN,test
29,30,27481,317,session_single_27481,2024-02-27 22:40:46,True,True,False,desktop,71,147.508594,NaN,control
30,31,41435,572,session_single_41435,2024-01-07 13:36:50,True,True,False,mobile,43,129.586579,NaN,control
31,32,25659,920,session_single_25659,2024-03-28 00:11:07,False,True,False,mobile,59,76.707578,NaN,test
32,33,18943,275,session_single_18943,2024-02-03 01:37:43,False,True,False,mobile,40,126.299798,NaN,control
33,34,57002,511,session_single_57002,2024-04-30 00:09:33,True,True,False,tablet,78,186.273289,NaN,test
34,35,18432,149,session_single_18432,2024-01-17 17:12:04,True,False,False,mobile,3,202.410396,NaN,control
35,36,2748,135,session_single_2748,2024-05-27 10:05:11,False,True,True,desktop,9,157.327976,2024-05-27 10:12:47,test
36,37,58320,232,session_single_58320,2024-04-19 15:49:36,True,False,True,desktop,22,211.538348,2024-04-19 15:56:23,control
37,38,59151,633,session_54860,2024-04-15 23:08:35,True,True,False,desktop,66,53.081069,NaN,test
38,39,190,603,session_single_190,2024-04-07 16:17:27,True,True,True,mobile,73,157.615298,2024-04-07 16:21:54,control
39,40,19119,477,session_single_19119,2024-02-15 19:21:32,False,True,True,tablet,22,239.491222,2024-02-15 19:28:07,test
40,41,35774,275,session_54806,2024-05-21 13:15:48,False,True,False,mobile,94,81.000000,NaN,test
41,42,53811,129,session_single_53811,2024-04-30 19:22:07,True,True,True,mobile,69,162.187892,2024-04-30 19:29:23,control
42,43,1900,596,session_single_1900,2024-02-13 22:34:28,False,False,False,mobile,63,111.709726,NaN,control
43,44,56887,70,session_single_56887,2024-03-24 02:30:17,False,True,False,mobile,53,106.814473,NaN,test
44,45,1268,430,session_single_1268,2024-02-01 16:02:25,False,True,False,mobile,19,163.113421,NaN,test
45,46,31552,19,session_92227,2024-05-04 19:24:02,True,True,False,desktop,58,78.202713,NaN,test
46,47,50681,292,session_single_50681,2024-05-08 09:22:05,True,True,True,mobile,79,186.107793,2024-05-08 09:30:03,control
47,48,11395,873,session_single_11395,2024-02-25 08:43:35,False,True,True,mobile,92,172.723592,2024-02-25 08:45:10,control
48,49,3557,556,session_20745,2024-06-08 03:22:54,True,True,False,mobile,40,87.583110,NaN,test
49,50,3891,500,session_36137,2024-05-29 23:25:12,True,True,False,tablet,74,93.688066,NaN,test

In [245]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   interaction_id      600000 non-null  int64
 1   user_id             600000 non-null  int64
 2   product_id          600000 non-null  int64
 3   session_id          600000 non-null  object
 4   timestamp_click     600000 non-null  object
 5   recommended         600000 non-null  bool
 6   clicked             600000 non-null  bool
 7   purchased           600000 non-null  bool
 8   device_used         600000 non-null  object
 9   match_score         600000 non-null  int64
 10  time_on_page_sec    600000 non-null  float64
 11  timestamp_purchase  135550 non-null  object
 12  user_group          600000 non-null  object
dtypes: bool(3), float64(1), int64(4), object(5)
memory usage: 47.5+ MB

In [246]:
interactions.isna().sum()

interaction_id             0
user_id                    0
product_id                 0
session_id                 0
timestamp_click            0
recommended                0
clicked                    0
purchased                  0
device_used                0
match_score                0
time_on_page_sec           0
timestamp_purchase    464450
user_group                 0
dtype: int64

In [247]:
interactions.duplicated().sum()

0

In [248]:
interactions["timestamp_click"] = pd.to_datetime(interactions["timestamp_click"], errors="coerce")
interactions["timestamp_purchase"] = pd.to_datetime(interactions["timestamp_purchase"], errors="coerce")

In [249]:
interactions.dtypes

interaction_id                 int64
user_id                        int64
product_id                     int64
session_id                    object
timestamp_click       datetime64[ns]
recommended                     bool
clicked                         bool
purchased                       bool
device_used                   object
match_score                    int64
time_on_page_sec             float64
timestamp_purchase    datetime64[ns]
user_group                    object
dtype: object

In [250]:
interactions["device_used"].value_counts()

device_used
mobile     359451
desktop    179693
tablet      60356
moblie        500
Name: count, dtype: int64

In [251]:
interactions["device_used"] = interactions["device_used"].replace("moblie", "mobile")

In [252]:
interactions["reco_purchased"] = interactions["recommended"] & interactions["purchased"]

In [253]:
interactions = interactions[~((interactions["purchased"] == True) & (interactions["timestamp_purchase"].isna()))]

In [254]:
interactions["time_on_page_sec"] = interactions["time_on_page_sec"].clip(lower=0)

In [255]:
interactions["time_on_page_sec"].describe()

count    600000.000000
mean        118.141960
std          56.171534
min           0.000000
25%          80.001870
50%         111.083986
75%         147.538296
max         419.175786
Name: time_on_page_sec, dtype: float64

### Age Grouping

In [256]:
users["age_group"] = pd.cut(
    users["age"],
    bins=[18, 30, 45, 60, 75, 120],
    labels=["18–30", "31–45", "46–60", "61–75", "76+"]
)

age_gender_pivot = users.pivot_table(index="age_group", columns="gender", aggfunc="size", fill_value=0)

/var/folders/h0/4jpjr28x5yj6tn2nqwlp8cn40000gn/T/ipykernel_55756/2279251422.py:7: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  age_gender_pivot = users.pivot_table(index="age_group", columns="gender", aggfunc="size", fill_value=0)

In [257]:
age_gender_pivot

gender     Female   Male
age_group
18–30        5461   8336
31–45        6987  10494
46–60        6825  10288
61–75        4127   6307
76+             1      1

### Merging all 3 data sets

In [258]:
df = interactions.merge(users, on="user_id", how="left")
df = df.merge(products, on="product_id", how="left")

In [259]:
pd.set_option("display.max_columns", None)

In [260]:
df.isnull().sum()

interaction_id             0
user_id                    0
product_id                 0
session_id                 0
timestamp_click            0
recommended                0
clicked                    0
purchased                  0
device_used                0
match_score                0
time_on_page_sec           0
timestamp_purchase    464450
user_group_x               0
reco_purchased             0
age                        5
gender                   568
country                    5
account_created            5
device_type                5
marketing_channel          5
user_group_y               5
is_adult                   5
age_group              11166
category                   0
price                      0
rating                   639
stock_quantity             0
launch_date                0
dtype: int64

In [261]:
df.drop(columns="user_group_x", inplace=True)
df.rename(columns={"user_group_y": "user_group"}, inplace=True)

In [262]:
# Manually assign age groups to handle all possible values in the df dataframe
df['age_group'] = '76+'  # Default for high ages
df.loc[df['age'] <= 30, 'age_group'] = '18–30'
df.loc[(df['age'] > 30) & (df['age'] <= 45), 'age_group'] = '31–45'
df.loc[(df['age'] > 45) & (df['age'] <= 60), 'age_group'] = '46–60'
df.loc[(df['age'] > 60) & (df['age'] <= 75), 'age_group'] = '61–75'

# Verify no NaNs remain
print(df['age_group'].isnull().sum())

0

In [272]:
df["user_group"].value_counts()

user_group
test       300183
control    299812
Name: count, dtype: int64

In [263]:
df.isnull().sum()

interaction_id             0
user_id                    0
product_id                 0
session_id                 0
timestamp_click            0
recommended                0
clicked                    0
purchased                  0
device_used                0
match_score                0
time_on_page_sec           0
timestamp_purchase    464450
reco_purchased             0
age                        5
gender                   568
country                    5
account_created            5
device_type                5
marketing_channel          5
user_group                 5
is_adult                   5
age_group                  0
category                   0
price                      0
rating                   639
stock_quantity             0
launch_date                0
dtype: int64

#### A/B Testing Analysis - Key Performance Indicators (KPIs)

In [264]:
purchase_rate = df.groupby('user_group')['purchased'].mean() * 100
print(f"Purchase Rate by Group:")
print(purchase_rate)

control_purchases = df[df['user_group'] == 'control']['purchased']
test_purchases = df[df['user_group'] == 'test']['purchased']

contingency = pd.crosstab(df['user_group'], df['purchased'])
chi2, p_value, _, _ = stats.chi2_contingency(contingency)
print(f"Purchase Rate Chi-Square Test: p-value = {p_value:.4f}")
print(f"Statistically significant difference? {'Yes' if p_value < 0.05 else 'No'}\n")

purchase_data = df[df['purchased'] == True].copy()
purchase_data['time_to_purchase_min'] = (purchase_data['timestamp_purchase'] - purchase_data['timestamp_click']).dt.total_seconds() / 60
time_to_purchase = purchase_data.groupby('user_group')['time_to_purchase_min'].mean()
print(f"Average Time to Purchase (minutes):")
print(time_to_purchase)

user_sessions = df.groupby(['user_id', 'user_group'])['session_id'].nunique().reset_index()
user_sessions['multiple_sessions'] = user_sessions['session_id'] > 1
return_rate = user_sessions.groupby('user_group')['multiple_sessions'].mean() * 100
print(f"Return Rate (% of users with multiple sessions):")
print(return_rate)

Purchase Rate by Group:
user_group
control    20.146292
test       25.034063
Name: purchased, dtype: float64


Purchase Rate Chi-Square Test: p-value = 0.0000
Statistically significant difference? Yes

Average Time to Purchase (minutes):
user_group
control    4.490516
test       4.492018
Name: time_to_purchase_min, dtype: float64


Return Rate (% of users with multiple sessions):
user_group
control    18.044536
test       44.986332
Name: multiple_sessions, dtype: float64

### Demographic Analysis

In [265]:
age_purchase = df.groupby(['user_group', 'age_group'])['purchased'].mean().unstack() * 100
print(f"Purchase Rate by Age Group:")
print(age_purchase)

gender_purchase = df.groupby(['user_group', 'gender'])['purchased'].mean().unstack() * 100
print(f"Purchase Rate by Gender:")
print(gender_purchase)

device_purchase = df.groupby(['user_group', 'device_used'])['purchased'].mean().unstack() * 100
print(f"Purchase Rate by Device Type:")
print(device_purchase)

Purchase Rate by Age Group:
age_group       18–30      31–45      46–60      61–75        76+
user_group
control     20.288141  20.218922  20.125793  19.853525  14.285714
test        25.054446  24.937804  25.105789  25.047717  33.333333


Purchase Rate by Gender:
gender         Female       Male
user_group
control     19.932342  20.287116
test        25.034570  25.037923


Purchase Rate by Device Type:
device_used    desktop     mobile     tablet
user_group
control      20.207553  20.109855  20.180186
test         24.689761  25.190645  25.121448

### Hypothesis Testing

In [269]:
# Purchase Rate Chi-Square Test
contingency = pd.crosstab(df['user_group'], df['purchased'])
chi2, p, _, _ = stats.chi2_contingency(contingency)
print(f'Purchase Rate Chi-Square: chi2={chi2:.2f}, p={p:.8f}')

# Time to Purchase T-Test
purchase_data = df[df['purchased'] == True]
purchase_data['time_to_purchase'] = (purchase_data['timestamp_purchase'] - purchase_data['timestamp_click']).dt.total_seconds()/60
t, p_t = stats.ttest_ind(purchase_data[purchase_data['user_group'] == 'control']['time_to_purchase'], 
                         purchase_data[purchase_data['user_group'] == 'test']['time_to_purchase'], equal_var=False)
print(f'Time to Purchase T-Test: t={t:.4f}, p={p_t:.8f}')

Purchase Rate Chi-Square: chi2=2048.87, p=0.00000000
Time to Purchase T-Test: t=-0.1359, p=0.89191176

/var/folders/h0/4jpjr28x5yj6tn2nqwlp8cn40000gn/T/ipykernel_55756/205681031.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_data['time_to_purchase'] = (purchase_data['timestamp_purchase'] - purchase_data['timestamp_click']).dt.total_seconds()/60

In [270]:
df.to_csv("df_full.csv", index=False)